{
  "parser": "babel-eslint",
  "plugins": [],
  "env": {
    "browser": false,
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": false,
    "modules": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "globalReturn": false
  },
  "rules": {
    "no-console": [0],
    "no-extra-parens": [1],
    "no-else-return": [1],
    "no-eq-null": 1,
    "radix": [1],
    "no-void": 1,
    "no-throw-literal": [1],
    "no-floating-decimal": [1],
    "no-undefined": [1],
    "no-self-compare": [1],
    "no-var": [1],
    "indent": [2, 2],
    "brace-style": [2, "1tbs"],
    "semi": [2, "never"],
    "curly": [1, "multi-line"],
    "quotes": [2, "single", "avoid-escape"],
    "no-underscore-dangle": [1],
    "new-cap": [2, {"capIsNew": false}]
  }
}
